<section>
    <div class="cards" data-aos="zoom-out-up">
        <div class="card " >
            <img src="cert/java.jpg" alt="">
           
        </div>
        <div class="card">
            <img src="cert/html.png" alt="">
           
        </div>
        <div class="card">
            <img src="cert/python.png" alt="">
            
        </div>
        <div class="card">
            <img src="cert/ue5.png" alt="">
           
        </div>
        <div class="card">
            <img src="cert/estadual.png" alt="">
        </div>
    </div>
</section>