


.container {
    position: relative;
    z-index: 5;

    padding: 0 !important;

    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    
    .text {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        h1 {
            background: #A1BFFF;
            background: linear-gradient(to right, #A1BFFF 0%, #ffff 50%,#A649D2 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            
        }

        span {
            font-size: 1.9em;
        }

        p {
            background: #A1BFFF;
            background: linear-gradient(to right, #A1BFFF 0%, #ffff 50%,#A649D2 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            font-size: 2em;

        }

        .icons {
            display: flex;
            margin-top: 10px !important;
            gap: 10px;
            background: #A1BFFF;
            background: linear-gradient(to right, #A1BFFF 0%, #ffff 50%,#A649D2 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            
            i {
            
                color: white;
                font-size: 2em;
            

            }

        }

        .arrow {
            margin-top: 20px !important;
            background: #A1BFFF;
            background: linear-gradient(to right, #A1BFFF 0%, #ffff 50%,#A649D2 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            font-size: 20px;
        }

    }
}


@media screen and (max-width: 720px) {
        span {
            font-size: 1.5em !important;
        }

        p {


            font-size: 1.9em !important;

        }
}

// span {
// 	display: inline-block;
// 	opacity: 0;
// 	filter: blur(12px);
// 	animation: blurIn 1.6s cubic-bezier(0.22, 1, 0.36, 1) forwards;
// }

// span:nth-child(1) {
// 	animation-delay: 0.4s;
// }

// sp:nth-child(2) {
// 	animation-delay: 0.6s;
// }

// @keyframes blurIn {
// 	0% {
// 		opacity: 0;
// 		filter: blur(12px);
// 		transform: translateY(10px);
// 	}

// 	100% {
// 		opacity: 1;
// 		filter: blur(0);
// 		transform: translateY(0);
// 	}
// }



