<app-blur />

<div class="container">
    <div class="text ">
        <h1 data-aos="fade-up">
            <span>Kauã</span>&nbsp;<span>Breno</span>
        </h1>
        <p data-aos="fade-up" data-aos-duration="1500">Desenvolvedor FullStack</p>
   
        <div class="icons" >
           
            <i class="bi bi-linkedin" onclick="window.location.href='www.linkedin.com/in/kaua-breno'"></i>
    
            <i class="bi bi-github" onclick="window.location.href='https://github.com/KauaBrenoQuerubino'"></i>
            
            <i class="bi bi-instagram" onclick="window.location.href='https://www.instagram.com/kaua_bren/'"></i>
            
        </div>
        <a href="#sobre">
            <i class="bi bi-chevron-double-down arrow"></i>
        </a>
    </div>
</div>
