

.midia {
    height: 120vh;
    width: 100%;

    position: fixed;
    z-index: 1 !important;

    

}

#banner {
  pointer-events: none !important;
}

.container {
    position: relative;
    z-index: 5;

    padding: 0 !important;

    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    
    .text {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        h1 {
            background: #A1BFFF;
            background: linear-gradient(to right, #A1BFFF 0%, #ffff 50%,#A649D2 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            
        }

        span {
            font-size: 1.9em;
        }

        p {
            background: #A1BFFF;
            background: linear-gradient(to right, #A1BFFF 0%, #ffff 50%,#A649D2 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            font-size: 2em;

            animation: blurIn 2s ease forwards;
        }

        .icons {
            display: flex;
            margin-top: 10px !important;
            gap: 10px;
            background: #A1BFFF;
            background: linear-gradient(to right, #A1BFFF 0%, #ffff 50%,#A649D2 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            
            i {
            
                color: white;
                font-size: 2em;
            

            }

        }

        .arrow {
            margin-top: 20px !important;
            background: #A1BFFF;
            background: linear-gradient(to right, #A1BFFF 0%, #ffff 50%,#A649D2 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            font-size: 20px;
        }

    }
}

// h1 {
// 	display: inline-block;
// 	opacity: 0;
// 	filter: blur(20px);
// 	animation: blurIn 2s ease forwards;
// }

// h1:nth-child(1) {
// 	animation-delay: 1s;
// }

// h1:nth-child(2) {
// 	animation-delay: 1.2s;
// }

// @keyframes blurIn {
// 	0% {
// 		opacity: 0;
// 		filter: blur(30px);
// 	}
// 	60% {
// 		opacity: 1;
// 		filter: blur(8px);
// 	}
// 	100% {
// 		opacity: 1;
// 		filter: blur(0);
// 	}
// }



