<app-blur />

<div class="midia">
    <spline-viewer url="https://prod.spline.design/hhwOi45GH20lVi88/scene.splinecode" id="banner"></spline-viewer>
</div>


<div class="container">
    <div class="text ">
        <h1><span>Kauã</span>&nbsp;<span>Breno</span></h1>
        <p>Desenvolvedor FullStack</p>
   
        <div class="icons">
           
            <i class="bi bi-linkedin"></i>
    
            <i class="bi bi-github"></i>
            
            <i class="bi bi-instagram"></i>
            
        </div>
        <i class="bi bi-chevron-double-down arrow"></i>
    </div>
</div>
