header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 30px;
    color: white;


    .container {
        
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 50px !important;
        height: 50px;


        ul {
            padding: 15px !important;
            border-radius: 30px;
            display: flex;
            justify-content: space-around;


            list-style: none;
            display: flex;
            gap: 10px;
            min-width: 40%;
            background-color: rgba(58, 25, 90, 0.349);
        }
    }
}