section {

    position: relative;
    z-index: 1;
    height: 90vh;


    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: rgba(209, 209, 209, 0.87);
        padding: 0px 200px !important;

        gap: 40px;

        .row {

            
            width: 100%;
            display: flex;
            justify-content: space-between;

          
            align-items: center;

            .img {
         
                display: flex;
                width: 50%;
                align-items: center;
                justify-content: center;
                img {
                    width: 650px;
                    border-radius: 10px;
                }
            }
    
            .text {
            
                width: 40%;
            
                .ini {
                    width: 100%;
                    text-align: start;
                }
    
                .fin {
                    width: 100%;
                    margin-top: 40px !important;
                    text-align: end;
                }
    
                gap: 20px;
    
                h1 {
                    background: #A1BFFF;
                    background: linear-gradient(to right, #A1BFFF 0%, #ffff 50%,#A649D2 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
    
                    font-size: 40px;
                    font-weight: 800;
    
                    margin-bottom: 40px !important;
                }
    
                p {
                    background: #A1BFFF;
                    background: linear-gradient(to right, #A1BFFF 0%, #ffff 50%,#A649D2 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
    
                    font-size: 17px;
                    width: 400px;
                }
    
                .btn {
                    display: flex;
                    justify-content: end;
                    align-items: end;
                    
                    padding: 30px 0 !important;
                    gap: 10px;

                    
                    button {
                        
                        cursor: pointer;
                        border: none;
                        background: #13061b;
                        color: rgba(255, 255, 255, 1);

                        font-weight: 500;
                        border-radius: 5px;
    
                        padding: 10px !important;
                        font-size: 15px;
    
                        width: 100%;

                        &:hover {
                             background: #220c30;
                        }
                    }
    
                    button:last-child{
                       background: #13061b;

                       &:hover {
                             background: #220c30;
                        }
                    }
                }
            }

            .atalhos {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 20px ;

               .card {
                    position: relative;
                    width: 100%;
                    height: 170px;
                    border-radius: 20px;
                    padding: 25px !important;
                    background: rgba(58, 25, 90, 0.363); /* levemente transparente */
                    overflow: hidden;


                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    transition: .5s;

                    cursor: pointer;

                    &:hover {
                        transform: scale(1.05);
                    }

                    .title {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        

                        .icon {
                            font-size: 30px;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            border-radius: 50px;

                            width: 30px;
                            height: 30px;

                            padding: 15px !important;

                            background-color: rgba(223, 170, 182, 0.281);


                        }

                        .content {
                            h1 {
                                font-size: 1.6em;
                            }
                            margin-top: 30px !important;
                        }



                    }

                    .value {
                        height: 100%;
                        font-size: 40px;
                        font-weight: 900;
                    }
                }

                .card::before {
                    content: "";
                    position: absolute;
                    inset: 0;
                    backdrop-filter: blur(15px);
                    -webkit-backdrop-filter: blur(15px);
                    z-index: 0;
                }

                .card * {
                    position: relative;
                    z-index: 1;
                }
            }

        }

        


    }
}




@media screen and (max-width: 720px) {
    section {
        .container {
            height: 100vh;
            padding: 0px !important;

            display: flex;
            flex-direction: column;

            .row {
                display: flex;
                flex-direction: column-reverse;
            
                min-width: 100% !important;
                
                text-align: start;
                margin: 0 !important;

                .img {

                    img {
                        width: 300px;
                    }
                }

            
            }
        }
    }

    span {
        font-size: 1.6em !important;
    }
    
    p {
        font-size: 1.5em !important;
    }
}