


<section>
    <div class="container">
        <div class="row">
                <div class="midia">
                    <img src="imgs/OIP.jfif" alt="">
                </div>
                <div class="text">
                    <h1>SOBRE MIM</h1>
                    <p class="ini">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia repudiandae sit, eos alias accusantium corporis quaerat nemo eaque consectetur perspiciatis ut magnam iure vel omnis cumque, ullam asperiores impedit molestias.</p>
                    <p class="fin">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia repudiandae sit, eos alias accusantium corporis quaerat nemo eaque consectetur perspiciatis ut magnam iure vel omnis cumque, ullam asperiores impedit molestias.</p>
                    <div class="btn">
                        <button>Donwload CV</button><button>Contato</button>
                    </div>
                </div>
        </div>
        
        <div class="row">
            <div class="atalhos">
                <div class="card">
                    <div class="title">
                        <div class="icon"><i class="bi bi-code"></i></div>
                        <div class="content">
                            <h1>Melhores Projetos</h1>
                            <p>teste teste teste</p>
                        </div>
                    </div>
                    <div class="value">
                        <span>7</span>
                    </div>
                </div>
                <div class="card">
                    <div class="title">
                        <div class="icon"><i class="bi bi-award"></i></div>
                        <div class="content">
                            <h1>Melhores Projetos</h1>
                            <p>teste teste teste</p>
                        </div>
                    </div>
                    <div class="value">
                        <span>7</span>
                    </div>
                </div>
                <div class="card">
                    <div class="title">
                        <div class="icon"><i class="bi bi-globe"></i></div>
                        <div class="content">
                            <h1>Melhores Projetos</h1>
                            <p>teste teste teste</p>
                        </div>
                    </div>
                    <div class="value">
                        <span>7</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>
