section {
    position: relative;
    z-index: 1;

    .container {
        display: flex;
        justify-content: space-between;
        color: rgb(209, 209, 209);
        padding: 0px 300px !important;

        .text {

            gap: 20px;

            h1 {
                font-size: 40px;
                font-weight: 800;

                margin-bottom: 40px !important;
            }

            p {
                width: 400px;
            }
        }
    }
}