<section>
    <div class="container">
        <div class="midia">
            <img src="icon.png" alt="">
        </div>
        <div class="text">
            <h1>SOBRE MIM</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia repudiandae sit, eos alias accusantium corporis quaerat nemo eaque consectetur perspiciatis ut magnam iure vel omnis cumque, ullam asperiores impedit molestias.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia repudiandae sit, eos alias accusantium corporis quaerat nemo eaque consectetur perspiciatis ut magnam iure vel omnis cumque, ullam asperiores impedit molestias.</p>
        </div>
    </div>
</section>