<section>
    <div class="cards">
        <div class="card ">
            <img src="icons/angular.svg" alt="">     
        </div>
        <div class="card">
            <img src="icons/java.svg" alt="">
        </div>
        <div class="card">
            <img src="icons/html.svg" alt="">
        </div>
        <div class="card">
            <img src="icons/python.svg" alt="">
        </div>
        <div class="card">
            <img src="icons/typescript.svg" alt="">
        </div>
    </div>
    <div class="cards">
        <div class="card ">
            <img src="icons/c++.svg" alt="">     
        </div>
        <div class="card">
            <img src="icons/unreal.svg" alt="">
        </div>
        <div class="card">
            <img src="icons/js.svg" alt="">
        </div>
        <div class="card">
            <img src="icons/figma.svg" alt="">
        </div>
        <div class="card">
            <img src="icons/sql.svg" alt="">
        </div>
    </div>
</section>