<section id="skills">
    <div class="container">
        <div class="text">
            <h1 data-aos="fade-up">Portfolio</h1>
            <p data-aos="fade-up">
            Este espaço reúne projetos que desenvolvi ao longo da minha jornada na programação, aplicando conceitos de desenvolvimento web, lógica e boas práticas.
            <br><br>
            Busco evoluir constantemente, criando aplicações funcionais e com foco na experiência do usuário.
            </p>
        </div>
        <div class="buttons" data-aos="fade-up">
            <button [ngClass]="{ 'select': btnSelect == 1}" (click)="btnSelect = 1">Projetos</button> 
            <button [ngClass]="{ 'select': btnSelect == 2}" (click)="btnSelect = 2">Certificados</button> 
            <button [ngClass]="{ 'select': btnSelect == 3}" (click)="btnSelect = 3">Habilidades Tecnicas</button>
        </div>
        <div class="content">

            @if (btnSelect == 1) {
                <app-projetos />
            }
            @else if (btnSelect == 2) {
                <app-certificados />
            }
            @else{
                <app-habilidades />
            }
            
        </div>
    </div>
</section>