<app-blur />

<div class="voltar" (click)="voltar()">
    <h1><i class="bi bi-arrow-left"></i></h1>
</div>
<section>
    <div class="container">
        <div class="col">
            <h1>{{projeto?.nome}}</h1>
            <p>{{projeto?.descricao}}</p>
           
            <div class="tecs">
                @for (item of projeto?.tecnologias; track $index) {
                    <div class="icon"><img [src]=" 'icons/' + item + '.svg'" alt=""></div>
                }
            </div>
        </div>
        <div class="col">
            <video [src]="projeto?.url_video" [autoplay]="true" [loop]="true" [muted]="true" preload="metadata"></video>
            <div class="btns">

                @if (projeto?.publico) {
                    <button><a [href]="projeto?.link_repositorio"><i class="bi bi-github"></i></a></button>
                    <button><a [href]="projeto?.link_download"><i class="bi bi-cloud-download-fill"></i></a></button>
                }
            </div>
        </div>
    </div>
</section>